@(form1:Form[models.forms.AddUser])

    @main("Sample Page") {
        <article>

            <h1>PlayFramework　学習用</h1>
            
            @helper.form(action = routes.Application.createUser){		
				@helper.CSRF.formField
			
                @(helper.inputText (
                    field = form1("name"),
	                args  = 'size -> 30,
						    '_label -> "名前",
						    '_help -> "※登録後変更できます"
                ))
                @(helper.inputPassword (
                    field = form1("pass1"),
	                args  = 'size -> 30,
						    '_label -> "パスワード",
						    '_help -> ""
                ))
				@(helper.inputPassword (
                    field = form1("pass2"),
	                args  = 'size -> 30,
						    '_label -> "パスワード(確認)",
						    '_help -> ""
                ))
                @(helper.inputText (
                    field = form1("email"),
	                args  = 'size -> 30,
						    '_label -> "Eメール",
						    '_help -> "ログインに使用します"
                ))

                <input type="submit">
            }

        </article>
    }
