@(form1:Form[models.forms.AddUser])

    @main("Sample Page") {
        <article>

            <h1>PlayFramework　学習用</h1>
            
            @helper.form(action = routes.Application.createUser){		
				@helper.CSRF.formField
			
                @(helper.inputText (
                    field = form1("name"),
	                args  = 'size -> 30,
						    '_label -> "Name",
						    '_help -> "あなたの名前を入力して下さい。"
                ))
                @(helper.inputPassword (
                    field = form1("pass1"),
	                args  = 'size -> 30,
						    '_label -> "Pass",
						    '_help -> "Pass設定"
                ))
				@(helper.inputPassword (
                    field = form1("pass2"),
	                args  = 'size -> 30,
						    '_label -> "Pass",
						    '_help -> "Pass設定"
                ))
                @(helper.inputText (
                    field = form1("email")
                ))

                <input type="submit">
            }

        </article>
    }
